* {
    margin: 0px;
    padding: 0px;
    
}

@font-face {
    font-family: SaucerBB;
    src: url(fonts/SaucerBB.ttf);
}

@font-face {
    font-family: EngineerHand;
    src: url(fonts/EngineerHand.ttf);
}

html {
    height: 100%;   
}

#bgImageContainer {
    background-image: url(images/bg2.jpg);
    z-index: -2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-filter: blur(0px);
    -webkit-background-size: cover;
    -webkit-background-position: center;
    overflow: hidden;
}

header {
    padding: 15px 35px;
    margin: 25px 0px;
    font-size: 50px;
    
    font-family: SaucerBB;
    color: #CCCCCC;

    background-color: rgba(0, 0, 0, .5);
    
    width: auto;
    height: 130px;
    
    border-bottom: 7px solid rgba(255, 255, 255, .2);
    border-top: 7px solid rgba(255, 255, 255, .2);
}

#logo a{
    height: 100%;
    width: 100%;
}

#team_number {
    color: #999999;   
}

header span {
    float: left; 
}

#team_number {
    clear: both;
    font-size: .5em;
}

#nav_bar {
    float: right;
    font-size: .5em;
    position: relative;
    top: -75px;
}

#nav_bar li {
    display: inline-block;
    font-family: 'Lato';
    padding: 7px;
    margin: 10px;
    
}

#slogan {
    position: relative;
    
    top: 152px;
    
    color: white;
    font-size: .75em;
    text-align: center;
    
    width: 750px;
    height: 75px;
    margin: auto;
    
    border-bottom: 7px solid rgba(255, 255, 255, .2);
    border-radius: 0px 0px 100px 100px;
    background: #c9c9c9;
}

#slogan p{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10px 0px;
    font-size: 1.15em;
    font-family: 'Lato';
    background: url(images/bg2-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

#nav_bar_anim {
    
    display: inline-block;
    width: 135px;
    height: 50px;
    position: relative;
    overflow: hidden;
    
    text-align: center;
    font-size: .8em;
    vertical-align: middle;
    line-height: 50px;
}

#nav_bar_anim a {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
}

#nav_bar_anim svg {
    position: absolute;
    top: 0;
    left: 0;
}

#nav_bar_anim svg line {
    stroke-width: 5;
    stroke: #fff;
    fill: none;
    stroke-dasharray: 200;
    transition: transform .15s ease-in-out;
}

#nav_bar_anim:hover svg line.left {
    transform: translateY(-50px);
}

#nav_bar_anim:hover svg line.right {
    transform: translateY(50px);
}

#nav_bar_anim:hover svg line.top {
    transform: translateX(135px);
}

#nav_bar_anim:hover svg line.bottom {
    transform: translateX(-135px);
}

#body_main {
    position: relative;
    top: 150px;
    color: #eeeeee;
    font-family: 'Lato';
    font-size: 1.2em;
    height: auto;
}

#contacts_table {
    width: 100%;
    height: 300px;
}

.blurred-bg {
    
    background: 
        linear-gradient(
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)
            ),
        url(images/bg2-blur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 3em;   
}

a:link {
    color: #eeeeee;
    text-decoration: none;
}

a:visited {
    color: #eeeeee;
    text-decoration: none;
}

a:hover {
    color: #eeeeee;
    text-decoration: none;
}

a:active {
    color: #eeeeee;
    text-decoration: none;
}

#main {
    max-width: 60%;
    margin: auto;
    float: none;
    text-align: center;
    
    border: 7px solid rgba(255, 255, 255, .2);
    
    border-radius: 50px;
    
    padding: 25px;
    
    margin-top: 50px;
    margin-bottom: 50px;
}

#hor_list li{
    display: inline;
    list-style-type: none;
    padding: 0px 10px;
    
}

#images img {
    margin: 10px;
    min-width: 10px;
    max-width: 500px;
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    vertical-align: middle;
}

#droparea
{
    width: 100%;
    padding: 50px 0px;
	border: 2px dashed #555;
	border-radius: 7px;
}

#footer {
    position: relative;
    top: 200px;
    text-align: center;
    height: 100px;
    background: rgba(25, 25, 25, .8);
    display: table;
    width: 100%;
    
    color: #aaaaaa;
    font-family: 'Lato';
    font-size: .75em;
}

#admin_login {
}


#progress_back {
    position: relative;
    top: 25px;
    width: 90%;
    height: 50px;
    margin: auto;
    background: #111111;
    border-radius: 100px;
}

#progress_fore {
    position: relative;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    
    border-radius: 100px;
    background: #aaaaaa;
}

#footer div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#footer p {
    padding: 5px;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #eeeeee;   
}